<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body { font-family: sans-serif; }
        .container { text-align: center; margin: 40px; }
        .qr { margin-top: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <h2>🎫 Ticket d'événement</h2>
        <p><strong>Événement :</strong> {{ ticket.reservation.event.title }}</p>
        <p><strong>Date :</strong> {{ ticket.reservation.event.date|date:"d/m/Y H:i" }}</p>
        <p><strong>Lieu :</strong> {{ ticket.reservation.event.location }}</p>
        <p><strong>Nom :</strong> {{ ticket.reservation.user.first_name }} {{ ticket.reservation.user.last_name }}</p>
            <p><strong>Numéro du ticket :</strong> #{{ ticket.id }}</p>
                   <p><strong>Ticket validé :</strong> {% if ticket.used %}✅ Oui{% else %}❌ Non{% endif %}</p>

        <div class="qr">
            <img src="data:image/png;base64,{{ qr_base64 }}" width="200" />
        </div>
        <p>À présenter à l’entrée</p>
    </div>
</body>
</html>
